
<div ng-repeat="item in cart" class="panel">
  <div class="row">
    <div class="col-xs-1">
      名称
    </div>
    <div class="col-xs-1">
      {{item.name}}
    </div>
    <div class="col-xs-1">
      数量
    </div>
    <div class="col-xs-5 row">
      <div class="col-xs-4 text-right">
        <span class="glyphicon glyphicon-plus" ng-click="changeItem($index,1)"></span>
      </div>
      <input class="col-xs-4" ng-model="item.count" />
      <div class="col-xs-4">
        <span class="glyphicon glyphicon-minus" ng-click="changeItem($index,-1)"></span>
      </div>
    </div>
    <!-- <div class="col-xs-1"> -->
    <!--   单价 -->
    <!-- </div> -->
    <!-- <div class="col-xs-1"> -->
    <!--   {{item.unitPrice}} -->
    <!-- </div> -->
    <div class="col-xs-1">
      总价
    </div>
    <div class="col-xs-1">
      {{item.count*item.price}}
    </div>
  </div>
</div>
<div id="totalPrice" class="row">
  <div class="col-xs-4">
    共计
  </div>
  <div class="col-xs-4">
    {{getTotal()}}元^^
  </div>
  <div class="col-xs-4">
    <button type="button" class="btn btn-lg btn-success">下单</button>
  </div>
</div>
