<div id="shuf">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img  class="img-responsive" ng-src="{{slide.icon}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.name}}</p>
        </div>
      </slide>
    </carousel>
</div>

<div class="row">
  <div class="col-xs-6" ng-repeat='item in category'>
    <img class="img-responsive" ng-src="{{item.icon}}" ng-click="showItemList(item.id)" alt="" />
  </div>
</div>
