#content{
    margin-top : 50px;
    padding : 20px;
}

#leftMenu {
    margin-top : 20px;
}

#leftNavigator>li:hover {
    cursor : pointer;
    background-color : rgba(100,100,100,0.5);
}

#rightContent { 
    background-color : red;
}

#loginBox {
    padding-top : 20px;
}

a {
    color : black;
}

